{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{{ attach_library('terra/func-busc') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if exposed %}
    <div class="view-filters">
      <div class="title-cont">
         {{ exposed.title }} {{ exposed.actions }}
      </div>
      {{ exposed | without('sort_by', 'items_per_page', 'title', 'actions') }} <div class="adv-btn-submit d-none">{{ exposed.actions }}</div>
    </div>
  {% endif %}
  {% if header %}
    <div class="view-header">
      {{ header }}
      {{ exposed.sort_by }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content row">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    <div class="busq-footer">
      {{ pager }} {{ exposed.items_per_page }}
    </div>
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
