{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}


{# {% 
    set class = ' class = row ';
    attributes|replace({'class =': class}) 
%} #}
{% if content %}
  <div{{ attributes.addClass('row') }}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', 'col') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second', 'col') }}>
        {{ content.second }}
      </div>
    {% endif %}

  </div>
{% endif %}
